<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Stock Predictions</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
</head>

<body>
    <script src="lib\alphavantage\dist\bundle.js"></script>
    <script type="application/javascript">
        /**
         * Init Alpha Vantage with your API key.
         *
         * @param {String} key
         *   Your Alpha Vantage API key.
         */
    const alpha = alphavantage({ key: 'GS2BJ46ZHTBI9E20' });
    </script> 
</body>
<script src="data.js"></script>
</html>