alpha-vantage
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
DateTime
Flask
Flask-Compress
Flask-PyMongo
Flask-RESTful
Flask-SQLAlchemy
gunicorn
h5py
Keras
Keras-Preprocessing
klearn
numpy==1.18.5
pandas
pandas-market-calendars
plotly
scikit-image
scikit-learn
scipy
sklearn
tensorflow
