
alpha-vantage==2.2.0


dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
DateTime==4.3
gunicorn==20.0.4
h5py==2.10.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
klearn==0.0.3
numpy==1.18.5
pandas
pandas-datareader==0.9.0
pandas-market-calendars==1.6.1
plotly==4.14.1
sklearn==0.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
